<form [formGroup]="form" (ngSubmit)="saveorupdate()">
  <div class="form-group">
    <label for="sensorId">Sensor Id</label>
    <input
      type="text"
      class="form-control"
      id="sensorId"
      formControlName="sensorId"
      [ngClass]="{ 'is-invalid': form.controls.sensorId.errors && form.controls.sensorId.touched }"
    />
    <div [hidden]="!form.controls.sensorId.errors?.required" class="invalid-feedback">Sensor Id is required</div>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      formControlName="name"
      id="name"
      [ngClass]="{ 'is-invalid': form.controls.name.errors && form.controls.name.touched }"
    />
    <div [hidden]="!form.controls.name.errors?.required" class="invalid-feedback">Name is required</div>
  </div>
  <input type="submit" [value]="!isEditMode ? 'Create' : 'Save'" [disabled]="!form.valid" class="btn btn-primary mb-2" />
</form>

<ng-container *ngIf="(sensorsObservable | async) as sensors; else loading">
  <table *ngIf="sensors.length; else noItems" class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Sensor Id</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sensor of sensors">
        <td>{{ sensor.id }}</td>
        <td>{{ sensor.sensorId }}</td>
        <td>{{ sensor.name }}</td>
        <td>
          <button (click)="delete(sensor.id)" class="btn btn-danger">delete {{ sensor.id }}</button>
          <button (click)="forEdit(sensor)" class="btn btn-primary">edit {{ sensor.id }}</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noItems>No sensors found!</ng-template>
  <ng-template #loading>loading sensors...</ng-template>
</ng-container>
<button (click)="reload()" class="btn btn-primary">Reload</button>
